.btn__container {
  display: flex;
}
.btn {
  border: none;
  background-image: linear-gradient(
    to left bottom,
    rgba($color-primary, 1),
    rgba($color-secondary, 1)
  );
  padding: 1rem 1.5rem;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.5rem;
  outline: none;

  @media only screen and (max-width: $bp-small) {
    margin-right: 2rem;
  }
}

.btn:hover {
  background-image: linear-gradient(
    to left bottom,
    rgba($color-primary, 0.1),
    rgba($color-secondary, 0.1)
  );
  color: $color-primary;
  transform: translateY(-0.5rem);
}
